/* there's javascript that's expecting certain classnames and will break
 * if you change them. This file lists examples, and any CSS workrounds
 * that exists
 *
 */

/* This first section are things that can be broken just by changing
 * css class-names in the layout folder. This has wider applicability
 * than just to Bootstrap or the boostrap_renderers theme.
 */

/* compensate for some broken javascript when #page-header not used,
 * the javascript sets the height of the object to 0px (effectively
 * hiding it)  see further discussion in MDL-34687
 */
div.resourcecontent {
  width: 100%;
}
#resourceobject {
  min-width: 100%;
  max-width: 100%;
  min-height: 600px;
}

/* hiding and showing activities via the eye breaks */

/* Activity chooser links don't become active, current workaround, turn it off.
 * The reason this happens is that it's looking for the #page-content
 * wrapper. You can just add the #page-content class back but the layout of
 * the main columns usually depends on it, so you'd probably want to delete
 * any CSS classes that feature #page-content.
 * */

/* Drag and drop of blocks  doesn't work if you take away the .block-region
 * class name. The only CSS attached to it seems to be .block-region.invisible,
 * which creates a fading effect when hidden. Might also depend on block
 * regions being called #region-pre and #region-post.
 */

/* This second section are things that can be broken just by not
 * including Moodle's standard css. Mostly this is things that should
 * be shown on demand by js, that are always visible.
 */

/* Drag'n'drop targets and spinners */

/* 
 * From this point onwards are things that are broken because I've rewritten
 * some of the renderers, above are things you can break just by messing
 * with stuff in the layout folder.

/* Just broken the block expandable navigation, probably just renaming again.
 *
 * Relevant js seems to be located in lib/blocks/navigation/yui/navigation/navigation.js
 * will get back to it once I get the HTML for that area sorted.
 *
 */
