.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch,
.block_navigation .block_tree .tree_item.branch {
    background-image: none;
}
.block_tree li a  i {
        margin-right: 0.5em;
}
.block_tree a.tree_item.branch:before {
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        line-height: 1;
        content: "\e159";
        margin-right: 0.5em;
    }
.block_tree li.collapsed a.tree_item.branch:before {
        content: "\e158";
    }
