.block_settings {
  .block_tree {
      margin: 0;
      padding: 0;
      li ul { padding-left: 15px;}
  }
  .nav-list .nav-list .tree_item {
      margin: 0 -15px;
      padding-left: 15px;
      &.branch {
          background-position: 15px center;
          padding-left: 30px;
      }
  }
  .nav-list .nav-list .nav-list .tree_item {
      margin: 0 -30px;
      padding-left: 30px;
      &.branch {
          background-position: 30px center;
          padding-left: 45px;
      }
  }
  .nav-list .nav-list .nav-list .nav-list .tree_item {
      margin: 0 -45px;
      padding-left: 45px;
      &.branch {
          background-position: 45px center;
          padding-left: 60px;
      }
  }
  .nav-list .nav-list .nav-list .nav-list .nav-list .tree_item {
      margin: 0 -60px;
      padding-left: 60px;
      &.branch {
          background-position: 60px center;
          padding-left: 75px;
      }
  }
}
.block_settings  li.divider {
  // overriding moodle settings
  margin: ((@baseLineHeight / 2) - 1) 1px; // 8px 1px
}
