// note this could all be much nicer, but I'm constrained
// by having to work with the existing .js, and therefore
// don't have the ability to change the html/css as much
// as I'd like.

.block .commands a {
    padding: 0.2em 0.5em;
}
.block_login input#login_username,
.block_search_forums input#searchform_search,
.block_login input#login_password {
    width: 95%;
}
// hack to workaround poorly marked up ellipsis
.block_course_list > ul.nav-list > li:last-child,
.block_news_items > ul.nav-list > li:last-child {
    color: @well-background;
}
.block_settings .block_tree,
.block_navigation .block_tree{
    li ul {
        padding-left: 1.5em;
    }
    li a  i {
        margin-right: 0.5em;
    }
    a.tree_item.branch:before {
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        line-height: 1;
        content: "\e159"; // expanded icon
        margin-right: 0.5em;
    }
    li.collapsed a.tree_item.branch:before {
        content: "\e158"; // can expand icon
    }
    .tree_item {
        padding-left: 12px;
        margin-top: 2px;
    }
    .tree_item.hasicon img {
        height: 16px;
        margin-right: 0.5em;
    }
}

.block_navigation .block_tree_box {
    // nav block is a weird hack of settings block
    // these settings make the top expandable section
    // look like a normal link and the content look
    // as if they're on the same level of the hierarchy

    &> ul > li > ul {
        padding-left: 0;
    }
    a.navigation_node.tree_item.branch:before {
        content: "\e080"; // rightward chevron icon ( > ) 
    }
}

.jsenabled .block_navigation .block_tree .tree_item.branch,
.jsenabled .block_settings .block_tree .tree_item.branch {
    cursor: pointer;
}
.jsenabled .block_navigation .block_tree .collapsed ul,
.jsenabled .block_settings .block_tree .collapsed ul {
    display: none;
}
.block_navigation .block_tree_box .requiresjs,
.block_settings .block_tree_box .requiresjs {
    display: none;
}
.jsenabled .block_navigation .block_tree_box .requiresjs,
.jsenabled .block_settings .block_tree_box .requiresjs {
    display: inline;
}
