.fp-content-hidden {visibility: hidden;}

/*
 * Dialogue (File Picker and File Manager)
 */
.yui3-panel-focused {outline: none;}
#filesskin .yui3-panel-content {display: inline-block;}
#filesskin .yui3-widget-hd {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  .close { margin-top: 2px; }
  h3 {
    margin: 0;
    line-height: 30px;
  }
}
.fp-panel-button {background: #FFFFFF;padding: 3px 20px 2px 20px; text-align: center;margin:10px; border-radius: 10px;display: inline-block;-webkit-box-shadow: 2px 2px 3px .1px #999999;-moz-box-shadow: 2px 2px 3px .1px #999999;box-shadow: 2px 2px 3px .1px #999999;}

/*
 * File Picker layout
 */
.file-picker .fp-repo-area {position:absolute;top:0px;bottom:1px; width: 180px;}
.file-picker .fp-repo-items {margin-left: 181px;}
.file-picker .fp-navbar {background: #F2F2F2;min-height:22px;border-bottom: 1px solid #BBBBBB;padding: 5px 8px;}
.file-picker .fp-content {background: #FFFFFF;clear: both;overflow:auto;width: 678px;height: 477px;margin-bottom:-14px;}

.file-picker .fp-content-loading {height: 100%;width: 100%;display: table;text-align:center;}
.file-picker .fp-content .fp-object-container {width:98%;height:98%;}


/*
 * Repositories on fp-repo-area (File Picker only)
 */
.file-picker .fp-list {list-style-type:none;padding:0;float:left;width:100%;margin:0;}
.file-picker .fp-list .fp-repo a{display:block;padding:.5em .7em;}
.file-picker .fp-list .fp-repo.active {background:#F2F2F2;}
.file-picker .fp-list .fp-repo-icon {padding: 0px 7px 0px 5px;}

/*
 * Tools, Path & View on fp-navbar (File Picker and File Manager)
 */
.fp-toolbar {display: table-row;line-height: 22px;float:left;}


.fp-toolbar.empty {display:none;}
.fp-toolbar .disabled {display:none;}
.fp-toolbar div {display: inline-block;padding: 0px 2px;padding-right: 10px;}
.fp-toolbar img {vertical-align: -15%; margin-right: 5px;}

.fp-toolbar .fp-tb-search {width: 228px;height: 14px;}
.fp-toolbar .fp-tb-search input {background:#FFFFFF url('[[pix:a/search]]') no-repeat 3px 3px;padding: 2px 6px 1px 20px;width: 200px;height: 16px;border: 1px solid #BBBBBB;}

.fp-viewbar {float:right;}
.fp-viewbar.disabled {.muted}

.file-picker .fp-clear-left {clear: left;}

.fp-pathbar.empty {display: none;}
.fp-pathbar.breadcrumb {
    margin-bottom: 0px; // join with box below
    border-radius: 4px 4px 0 0;
}
.fp-pathbar .fp-path-folder {
    // copied from .breadcrumb > li and li:after
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    &:after {
        display: inline-block;
        content: "\00a0 /";
        padding: 0 5px;
        color: #ccc;
    }
}

/*
 * Icon view (File Picker and File Manager)
 */
.fp-iconview .fp-file {float: left;text-align: center;position: relative;margin: 10px 10px 35px;}
.fp-iconview .fp-thumbnail {min-width:110px;min-height:110px;line-height: 110px;text-align: center;display: block;}
.fp-iconview .fp-thumbnail:hover {background: #FFFFFF;border: 1px solid #ddd;box-shadow: inset 0px 0px 10px 0px #ccc;}
.fp-iconview .fp-filename-field {height:33px;word-wrap:break-word;overflow: hidden;position: absolute;}
.fp-iconview .fp-filename-field:hover {overflow: visible;z-index: 1000;}
.fp-iconview .fp-filename-field .fp-filename {background: #FFFFFF;padding-top: 5px;padding-bottom: 12px;min-width:112px;}

/*
 * Table view (File Picker only)
 */
.file-picker .yui3-datatable table {border: 0px solid #BBBBBB;width:100%;}
#filesskin .file-picker .yui3-datatable-header {background: #FFFFFF;border-bottom: 1px solid #CCCCCC;border-left: 0 solid #FFFFFF;color: #555555;}
#filesskin .file-picker .yui3-datatable-odd .yui3-datatable-cell {background-color: #F6F6F6;border-left: 0px solid #F6F6F6;}
#filesskin .file-picker .yui3-datatable-even .yui3-datatable-cell {background-color: #FFFFFF;border-left: 0px solid #FFFFFF;}

/*
 * Tree view (File Manager only)
 */
/*.file-picker .fp-treeview .fp-folder .fp-icon, .filemanager .fp-treeview .fp-folder .fp-icon {}*/
/* first or middle sibling, no children */
.file-picker .ygtvtn, .filemanager .ygtvtn {background: url('[[pix:moodle|y/tn]]') 0px 0px no-repeat;width:17px;height:22px;}
/* first or middle sibling, collapsable */
.file-picker .ygtvtm, .filemanager .ygtvtm {background: url('[[pix:moodle|y/tm]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* first or middle sibling, collapsable, hover */
.file-picker .ygtvtmh, .filemanager .ygtvtmh {background: url('[[pix:moodle|y/tm]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* first or middle sibling, expandable */
.file-picker .ygtvtp, .filemanager .ygtvtp {background: url('[[pix:moodle|y/tp]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* first or middle sibling, expandable, hover */
.file-picker .ygtvtph, .filemanager .ygtvtph {background: url('[[pix:moodle|y/tp]]') 0px 10px no-repeat;width:13px;height:22px;cursor:pointer;}
/* last sibling, no children */
.file-picker .ygtvln, .filemanager .ygtvln {background: url('[[pix:moodle|y/ln]]') 0px 0px no-repeat;width:17px;height:22px;}
/* Last sibling, collapsable */
.file-picker .ygtvlm, .filemanager .ygtvlm {background: url('[[pix:moodle|y/lm]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* Last sibling, collapsable, hover */
.file-picker .ygtvlmh, .filemanager .ygtvlmh {background: url('[[pix:moodle|y/lm]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* Last sibling, expandable */
.file-picker .ygtvlp, .filemanager .ygtvlp {background: url('[[pix:moodle|y/lp]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* Last sibling, expandable, hover */
.file-picker .ygtvlph, .filemanager .ygtvlph {background: url('[[pix:moodle|y/lp]]') 0px 10px no-repeat;width:13px;height:12px;cursor:pointer;}
/* Loading icon */
.file-picker .ygtvloading, .filemanager .ygtvloading {background: transparent url('[[pix:moodle|y/loading]]') 0 0 no-repeat;width:16px;height:22px;}
/* the style for the empty cells that are used for rendering the depth* of the node */
.file-picker .ygtvdepthcell, .filemanager .ygtvdepthcell {background: url('[[pix:moodle|y/vline]]') 0 0 no-repeat;width:17px;height:/*22px;*/32px;}
.file-picker .ygtvblankdepthcell, .filemanager .ygtvblankdepthcell {width:17px;height:22px;}
a.ygtvspacer:hover {color: transparent;text-decoration: none;}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {background-color: transparent;cursor: pointer;margin-left: 2px;text-decoration: none;}
.file-picker .ygtvfocus, .filemanager .ygtvfocus {background-color: #EEEEEE;}

.fp-filename-icon {margin-top: 10px;display: block;position: relative;}
.fp-icon {float: left;margin-top: -7px;width: 24px;height: 24px;margin-right: 10px;text-align: center;line-height: 24px;}
.fp-icon img {max-height:24px;max-width:24px;vertical-align: middle;}
.fp-filename {padding-right: 10px;}

/*
 * Repositories Login on fp-content (File Picker only)
 */
.file-picker .fp-login-form {height: 100%;width: 100%;display: table;}
.file-picker .fp-login-form table {margin: 0 auto;}
.file-picker .fp-login-form p {text-align: center;margin-top: 3em;}
.file-picker .fp-login-form .fp-login-input .label {text-align: right;vertical-align: middle;}
.file-picker .fp-login-form .fp-login-input .input {text-align: left;}
.file-picker .fp-login-form input[type="checkbox"]{width: 15px;height:15px;}

/*
 * Upload on fp-content (File Picker only)
 */
.file-picker .fp-upload-form {height: 100%;width: 100%;display: table;}

/*
 * File exists dialogue on Upload (File Picker only)
 */
.file-picker.fp-dlg .fp-dlg-text {padding: 30px 20px 10px;}

/*
 * Error dialogue on Upload (File Picker only)
 */
.file-picker.fp-msg {text-align: center;}
.file-picker.fp-msg .fp-msg-text {padding: 40px 20px 10px 20px;min-width:200px;max-width:500px;max-height:300px;overflow:auto;font-size: 12px;}
.file-picker.fp-msg.fp-msg-error .fp-msg-text {padding: 40px 20px 10px 20px;font-size: 12px;}

/*
 * Error on fp-content (File Picker only)
 */
.file-picker .fp-content-error {height: 100%;width: 100%;display: table;text-align: center;}
.file-picker .fp-content-error .fp-error {height: 100%;width: 100%;display:table-cell;vertical-align: middle;padding: 40px 20px 10px 20px;font-size: 12px;}

/*
 * Lazy loading on fp-content (File Picker only)
 */
.file-picker .fp-nextpage {clear:both;}
.file-picker .fp-nextpage .fp-nextpage-loading {display:none;}
.file-picker .fp-nextpage.loading .fp-nextpage-link {display:none;}
.file-picker .fp-nextpage.loading .fp-nextpage-loading {display:block;text-align: center;height: 100px;padding-top: 50px;}

/*
 * Select Dialogue (File Picker and File Manager)
 */
.file-picker.fp-select {width:420px;}
.fp-select .fp-select-loading {text-align: center;margin-top: 20px;}
.fp-select .fp-thumbnail {float:left;min-width:110px;min-height:110px;line-height: 110px;text-align: center;margin: 10px 20px 0 0;background: #FFFFFF;border: 1px solid #DDDDDD;-webkit-box-shadow: inset 0 0 10px 0 #CCCCCC;-moz-box-shadow: inset 0 0 10px 0 #CCCCCC;box-shadow: inset 0 0 10px 0 #CCCCCC;}
.fp-select .fp-thumbnail img .realpreview {border: 1px solid #DDDDDD;padding:3px;vertical-align: middle;margin: 10px;}
.fp-iconview .fp-thumbnail img .realpreview {border: 1px solid #DDDDDD;padding:3px;vertical-align: middle;-webkit-box-shadow: 1px 1px 2px 0px #CCCCCC;-moz-box-shadow: 1px 1px 2px 0px #CCCCCC;box-shadow: 1px 1px 2px 0px #CCCCCC;}
.fp-iconview .fp-thumbnail:hover .realpreview {background: #FFFFFF;border: 1px solid #DDDDDD;-webkit-box-shadow: inset 0px 0px 10px 0px #CCCCCC;-moz-box-shadow: inset 0px 0px 10px 0px #CCCCCC;box-shadow: inset 0px 0px 10px 0px #CCCCCC;}

.file-picker.fp-select .uneditable {display:none;}
.file-picker.fp-select .fp-select-loading {display:none;}
.file-picker.fp-select.loading .fp-select-loading {display:block;}
.file-picker.fp-select.loading form {display:none;}
.fp-select .fp-dimensions.fp-unknown {display: none;}

 /*
 * File Manager
 */
.filemanager-loading{display:none}
.jsenabled .filemanager-loading{display:block;margin-top: 100px;}
.filemanager.fm-loading .filemanager-toolbar,
.filemanager.fm-loading .fp-pathbar,
.filemanager.fm-loading .filemanager-container {display:none;}
.filemanager.fm-loaded .filemanager-loading {display:none;}
.filemanager.fm-maxfiles .fp-btn-add {display:none;}
.filemanager.fm-maxfiles .dndupload-message {display:none;}
.filemanager.fm-noitems .fp-btn-download,
.filemanager.fm-nofiles .fp-btn-download {display:none;}
.filemanager .fm-empty-container {display:none;}
.filemanager.fm-noitems .filemanager-container .fp-content {display:none;}
.filemanager .filemanager-updating {display:none;text-align:center;}
.filemanager.fm-updating .filemanager-updating {display:block;margin-top: 37px;}
.filemanager.fm-updating .fm-content-wrapper {display:none;}
.filemanager.fm-nomkdir .fp-btn-mkdir {display:none;}
.fitem.disabled .filemanager .filemanager-toolbar,
.fitem.disabled .filemanager .fp-pathbar,
.fitem.disabled .filemanager .fp-restrictions,
.fitem.disabled .filemanager .fm-content-wrapper {display:none;}

 /*
 * File Manager layout
 */
.fp-restrictions{text-align: right;}
.filemanager-toolbar{padding: 5px 0;min-height:22px;}

.filemanager .fp-pathbar.empty {display:none;}
.filepicker-filelist,
.filemanager-container {border: 1px solid #f5f5f5; border-radius: 0 0 4px 4px;min-height: 140px;position: relative;}
.filemanager .fp-content{overflow: auto;max-height: 472px;min-height: 157px;}
.filemanager-container, .filepicker-filelist {overflow:hidden;}
.fitem.disabled .filepicker-filelist, .fitem.disabled .filemanager-container {background-color:#EBEBE4;}
.fitem.disabled .filepicker-filelist .filepicker-filename {display:none;}

/*
 * Icon view (File Manager only)
 */
.fp-iconview .fp-reficons1 {position:absolute;height:100%;width:100%;top:0;left:0;z-index:1000;}
.fp-iconview .fp-reficons2 {position:absolute;height:100%;width:100%;top:0;left:0;z-index:1001;}
.fp-iconview .fp-file.fp-hasreferences .fp-reficons1 {background: url('[[pix:theme|fp/link]]') no-repeat;background-position:bottom right;}
.fp-iconview .fp-file.fp-isreference .fp-reficons2 {background: url('[[pix:theme|fp/alias]]') no-repeat;background-position:bottom left;}

.filemanager .fp-iconview .fp-file.fp-originalmissing .fp-thumbnail img {display:none;}
.filemanager .fp-iconview .fp-file.fp-originalmissing .fp-thumbnail {background: url([[pix:s/dead]]) no-repeat;background-position:center center;}

/*
 * Table view (File Manager only)
 */
.filemanager .yui3-datatable table {border: 0px solid #BBBBBB;width:100%;}
.filemanager .yui3-datatable-header {background: #FFFFFF!important;border-bottom: 1px solid #CCCCCC!important;border-left: 0 solid #FFFFFF!important;color: #555555!important;}
.filemanager .yui3-datatable-odd .yui3-datatable-cell {background-color: #F6F6F6!important;border-left: 0px solid #F6F6F6;}
.filemanager .yui3-datatable-even .yui3-datatable-cell {background-color: #FFFFFF!important;border-left: 0px solid #FFFFFF;}

.filemanager .fp-filename-icon.fp-hasreferences .fp-reficons1{background: url('[[pix:theme|fp/link_sm]]') no-repeat 0 0;height:100%;width:100%;position:absolute;top: 8px;left: 17px;z-index:1000;}
.filemanager .fp-filename-icon.fp-isreference .fp-reficons2 {background: url('[[pix:theme|fp/alias_sm]]') no-repeat 0 0;height:100%;width:100%;position:absolute;top: 9px;left: -6px;z-index:1001;}

/*
 * Folder Context Menu (File Manager only)
 */
.filemanager .fp-contextmenu {display:none;}
.filemanager .fp-iconview .fp-folder.fp-hascontextmenu .fp-contextmenu {display:block;position:absolute;right:7px;bottom:5px;z-index: 2000;}
.filemanager .fp-treeview .fp-folder.fp-hascontextmenu .fp-contextmenu,
.filemanager .fp-tableview .fp-folder.fp-hascontextmenu .fp-contextmenu {display: inline;position: absolute;left: 14px;margin-right: -20px;top: 6px;}

/*
 * Drag and drop support (filemanager and filepicker form elements)
 */
.filepicker-filelist .filepicker-container,
.filemanager.fm-noitems .fm-empty-container {display:block;}

.filepicker-filelist .filepicker-container,
.filepicker-filelist .dndupload-target,
.filemanager.fm-noitems .fm-empty-container,
.filemanager-container .dndupload-target {position:absolute;top:10px;bottom:10px;left:10px;right:10px;border: 2px dashed #bbb; color: #bbb; text-align:center;z-index:3000;}

.filepicker-filelist .dndupload-target,
.filemanager-container .dndupload-target {border-color:#fb7979; color: #fb7979}

.filepicker-filelist.dndupload-over .dndupload-target,
.filemanager-container.dndupload-over .dndupload-target {border-color:#6c8cd3;color:#6c8cd3}

.dndupload-message {display:none;}
.dndsupported .dndupload-message {display:block;}
.dnduploadnotsupported-message {display:none;}
.dndnotsupported .dnduploadnotsupported-message {display:inline;}
.dndupload-target {display:none;}
.dndsupported .dndupload-ready .dndupload-target {display:block;}
.dndsupported .dndupload-ready .dndupload-message {display:none;}
.dndupload-uploadinprogress {display:none;text-align:center;}
.dndupload-uploading .dndupload-uploadinprogress {display:block;}
.filepicker-container div.glyphicon-arrow-down,
.filemanager-container div.glyphicon-arrow-down {font-size:70px; padding-top:15px}
.fitem.disabled .filepicker-container, .fitem.disabled .fm-empty-container {display:none;}

/*
 * Select Dialogue (File Manager only)
 */
.filemanager.fp-select .fp-select-loading {display:none;}
.filemanager.fp-select.loading .fp-select-loading {display:block;}
.filemanager.fp-select.loading form {display:none;}
/* disable unavailable actions: */
/*.filemanager.fp-select.fp-zip .fp-license,*/
.filemanager.fp-select.fp-folder .fp-license,
/*.filemanager.fp-select.fp-zip .fp-author,*/
.filemanager.fp-select.fp-folder .fp-author,
.filemanager.fp-select.fp-file .fp-file-unzip,
.filemanager.fp-select.fp-folder .fp-file-unzip,
.filemanager.fp-select.fp-file .fp-file-zip,
.filemanager.fp-select.fp-zip .fp-file-zip {display:none;}
.filemanager.fp-select .fp-file-setmain {display:none;}
.filemanager.fp-select.fp-cansetmain .fp-file-setmain {display:inline-block;}
.filemanager .fp-mainfile .fp-filename {font-weight:bold;}
.filemanager.fp-select.fp-folder .fp-file-download {display:none;} /* to be implemented */
.fm-operation {font-weight: bold;}

.filemanager.fp-select .fp-original.fp-unknown {display:none;}
.filemanager.fp-select .fp-original .fp-originloading {display:none;}
.filemanager.fp-select .fp-original.fp-loading .fp-originloading {display:inline;}

.filemanager.fp-select .fp-reflist.fp-unknown {display:none;}
.filemanager.fp-select .fp-reflist .fp-reflistloading {display:none;}
.filemanager.fp-select .fp-refcount {max-width: 265px;}
.filemanager.fp-select .fp-reflist.fp-loading .fp-reflistloading {display:inline;}
.filemanager.fp-select .fp-reflist .fp-value {background: #F9F9F9;border: 1px solid #BBBBBB;padding: 8px 7px;margin: 0px;max-width: 265px;max-height: 75px;overflow:auto;}
.filemanager.fp-select .fp-reflist .fp-value li {padding-bottom: 7px;}

/*
 * Create folder dialogue (File Manager only)
 */
.filemanager.fp-mkdir-dlg .fp-mkdir-dlg-text {text-align: left;margin: 20px;}


/*
 * Confirm dialogue for delete (File Manager only)
 */
.filemanager.fp-dlg .fp-dlg-text {padding: 0px 10px;min-width:200px;max-width:340px;max-height:300px;overflow:auto;margin: 40px 20px 20px;}

/*
 *file picker search dialog
 */
.file-picker div.bd {text-align:left;}

