// Shouldn't need this, short-term workaround for PHPless bug
@iconSpritePath: @php_iconSpritePath;
@iconWhiteSpritePath: @php_iconWhiteSpritePath;
@fontAwesomePath: @php_fontAwesomePath;
@horizontalComponentOffset: @php_horizontalComponentOffset;
